@media (max-width: 728px) {
	.wrapper {
		padding: 0;
	}

	.product {
		display: block;
		width: 100%;
	}

	.slider {
		padding: 16px;
	}

	.slider-btn {
		display: none;
	}

	.mini-items {
		display: none;
	}

	.main-picture {
		width: 100%;
	}

	.header {
		border-bottom: none;
	}

	.head-subtitle {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.head-title {
		font-size: 22px;
		margin-bottom: 20px;
	}

	.text {
		border-bottom: none;
		padding: 16px;
		font-size: 20px;
		line-height: 27px;
		margin-bottom: 30px;
	}

	form {
		margin-bottom: 70px;
		border-bottom: none;
	}

	.form-container {
		margin-bottom: 40px;
	}

	label {
		font-size: 20px;
	}

	select {
		font-size: 20px;
		width: 70%;
		min-height: 40px;
	}

	#color {
		margin-left: 71px;
	}

	#memory {
		margin-left: 40px;
	}

	#quantity {
		margin: 0 23px 0 43px;
		width: 30%;
	}

	.available {
		font-size: 20px;
	}

	.in-stock {
		font-size: 22px;
	}

	.bue-info {
		margin: 30px 0 30px 0;
	}

	.new-price {
		font-size: 30px;
		margin-right: 30px;
	}

	.old-price {
		font-size: 20px;
	}

	.order-btn {
		display: block;
	}

	.bue-click {
		width: 100%;
		margin-bottom: 30px;
		padding: 10px 0;
		font-size: 20px;
	}

	.add-click {
		width: 100%;
		padding: 10px 0;
	}

	.add-click-span {
		font-size: 20px;
	}

	.add-click-span::before {
		left: -35px;
	}
}