* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--text-color: rgba(40, 47, 54, 0.8);
	--border-bottom-style: 1.5px solid rgba(40, 47, 54, 0.07);
}

body {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

button {
	line-height: 20px;
	text-align: center;
	cursor: pointer;
	border-radius: 6px;
}

button:hover {
	transition: all 0.3s linear;
}

.wrapper {
	background-color: #E5E5E5;
	width: 945px;
	margin: 100px auto;
	font-size: 14px;
}

.product {
	background-color: #fff;
	display: flex; 
	justify-content: space-between;
}

.slider {
	min-width: 554px;
}

.main-img {
	position: relative;
}

.slider-btn {
	position: absolute;
	background-image: url(../images/subtract.svg);
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	width: 46px;
	height: 46px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

.slider-previous {
	left: 15px;
	transform: translateY(-50%) scaleX(-1);
}

.slider-next {
	right: 15px;
}

.main-picture {
	display: block;
}

.mini-items {
	display: flex;
	justify-content: space-between;
}

.header {
	padding: 20px;
	border-bottom: var(--border-bottom-style);
}

.head-subtitle {
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #6E99AE;
	margin-bottom: 10px;
}

.head-title {
	font-weight: 900;
	font-size: 16px;
	line-height: 25px;
	color: #282F36;
	margin-bottom: 11px;
}

.head-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rating {
	display: flex;
	align-items: center;
	width: 91px;
}

.rating__stars {
	width: 70px;
	height: 15px;
	background-image: url(../images/star-grey.svg);
	background-repeat: repeat-x;
	margin-right: 6px;
}

.rating__stars-fill {
	height: 15px;
	background-image: url(../images/star.svg);
	background-repeat: repeat-x;
}

.rating-count {
	font-size: 12px;
	color: var(--text-color);
}

.art {
	font-size: 12px;
	line-height: 15px;
	color: var(--text-color);
}

.text {
	padding: 26px 20px 99px 20px;
	border-bottom: var(--border-bottom-style);
	line-height: 20px;
	color: var(--text-color);
}

.container {
	padding: 20px;
}

form {
	margin-bottom: 20px;
	border-bottom: var(--border-bottom-style);
}

.form-container {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

label {
	line-height: 20px;
	color: var(--text-color);
	cursor: pointer;
}

select {
	cursor: pointer;
	width: 167px;
	height: 30px;
	border: 1px solid rgba(40, 47, 54, 0.15);
	border-radius: 5px;
	padding: 5px 0 5px 5px;
	font-size: 14px;
}

#color {
	margin-left: 41px;
}

#memory {
	margin-left: 20px;
}

#quantity {
	width: 106px;
	margin: 0 13px 0 23px;
}

.available {
	line-height: 20px;
	color: var(--text-color);
}

.in-stock {
	position: relative;
	color: var(--text-color);
}

.in-stock::after {
	content: "";
	position: absolute;
	width: 14px;
	height: 10px;
	background-image: url(../images/check-icon.svg);
	right: -20px;
	top: 50%;
	transform: translateY(-50%);
}

.bue-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 8px 0 20px 0;
}

.price {
	display: flex;
	align-items: center;
}

.new-price {
	font-weight: 900;
	font-size: 20px;
	line-height: 25px;
	color: #282F36;
	margin-right: 17px;
}

.old-price {
	position: relative;
	color: var(--text-color);
	text-align: center;
}

.old-price::after {
	content: "";
	position: absolute;
	background-color: var(--text-color);
	height: 1px;
	left: -6px;
	right: -6px;
	top: 50%;
	transform: translateY(-50%);
}

.info-btn {
	display: flex;
}

.info-btn button {
	display: block;
	width: 33px;
	height: 33px;
	border: none;
	background-color: transparent;
}

.info-btn button:hover {
	transform: scale(1.1);
}

.like-btn {
	background-image: url(../images/like.svg);
}

.schedule-btn {
	background-image: url(../images/schedule.svg);
	margin-left: 14px;
}

.order-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.bue-click {
	display: block;
	background: #419AEE;
	border-radius: 6px;
	color: #fff;
	padding: 6px 25px;
	border: none;
	border: 1px solid transparent;
}

.bue-click:hover {
	border-color: rgba(40, 47, 54, 0.15);
	background-color: #fff;
	color: #282F36;
}

.add-click {
	display: block;
	border: 1px solid rgba(40, 47, 54, 0.15);
	background-color: #fff;
	padding: 6px 22px 6px 53px;
}

.add-click:hover {
	background-color: #419AEE;
	color: #fff;
}

.add-click-span {
	position: relative;
}

.add-click-span::before {
	content: "";
	position: absolute;
	width: 17px;
	height: 16px;
	background-image: url(../images/basket-icon.svg);
	left: -25px;
	top: 50%;
	transform: translateY(-50%);
}

